.ask-question-title {
    margin: 40px 3px;
}

.ask-question-bottom {
    display: flex;
}

.ask-question-form-area {
    background-color: white;
    max-width: 865px;
    width: 100%;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.ask-question-label {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: unset;
}

.ask-question-description {
    font-family: Arial, sans-serif;
    font-size: 12px;

    margin-bottom: 3px;
}

.title-form {
    height: 35px;
    padding: 5px 5px 5px;

    font-family: Arial, sans-serif;
    font-size: 13px;
}

.title-form::placeholder {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #bbc0c4;
}

.tag-editor {
    border: solid #ced4da 1px;
    border-radius: 3px;
    height: 38px;
    max-width: 835px;
    width: 100%;
    padding: 1px 5px;

    overflow: hidden;
}

.tag-list {
    padding: 0;
    margin: 0;
    display: flex;
}


.tag-list-item {
    list-style-type: none;
    margin: 1px 1px 1px 3px;
    padding: 5px;

    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 12px;

    cursor: pointer;
}

.ask-question-hint-area {
    margin-left: 30px;
}

.question-hint-area {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.big-hint-title-area {
    background-color: #fafafb;
    padding: 12px 15px;
    border: solid #e4e6e8 1px;
}

.big-hint-title {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #785a79;
    margin: unset;
}

.hint-description {
    padding: 10px 15px 0;
    margin: unset;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.description-dropdown-button {
    border: unset;

    display: flex;
    justify-content: space-between;

    padding: 12px 15px;
    width: 100%;
    background-color: white;
}

.description-dropdown-title {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bolder;

    margin: unset;
}

.description-dropdown-number {
    font-size: 17px;
    color: #30a9ff;
    margin-right: 7px;
}

.description-dropdown-menu {
    border-bottom: solid #e4e6e8 1px;
    padding: 0 12px 5px 40px;
}

.description-dropdown-description {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}

.question-hint-area-button {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #e4e6e8 1px;
    background-color: #fafafb;

    padding: 12px 15px;
}

.question-description-area {
    padding: 12px 15px;
}

.question-hint-description-link {
    color: #0077cc;
}

.question-hint-description-link:hover {
    color: #0eb2ff;
    text-decoration: none;
}

.fas {
    margin-top: 5px;
}

.question-ask-submit-button {
    height: 35px;
    width: 144px;
    margin-top: 30px;

    border: ridge white 1px;
    border-radius: 5px;

    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #0095ff;
}

.question-ask-submit-button:hover {
    background-color: #0077cc;
}
