{% extends 'questions/base_without_sidebar.html' %}
{% load staticfiles %}

{% block title %}
    Ask a Question
{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'questions/css/ask.css' %}">
    <link rel="stylesheet" href="{% static 'questions/css/text_editor.css' %}">
    <script type="text/javascript" src="{% static 'questions/js/text_editor.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="ask-question-content container">
        <div class="ask-question-title">
            <h3 style="font-weight: 400;">Ask a public question</h3>
        </div>
        <div class="ask-question-bottom">
            <div>
                <div class="ask-question-form-area">
                    <div class="title-area">
                        <h6 class="ask-question-label" style="margin-top: unset;">Title</h6>
                        <p class="ask-question-description">
                            Be specific and imagine you’re asking a question to another person
                        </p>
                        <input type="text" class="form-control title-form" placeholder="e.g. Is there an R function for finding the index of an element in a vector?">
                    </div>

                    <div class="body-area">
                        <h6 class="ask-question-label">
                            Body
                        </h6>
                        <p class="ask-question-description">
                            Include all the information someone would need to answer your question
                        </p>
                        <div class="text-editor">
                            <div class="btn-group text-editor-button-group" role="group">
                                <button class="editor-button" onclick="execCmd('bold');" style="padding-right: 20px"><i class="fas fa-bold"></i></button>
                                <button class="editor-button" onclick="execCmd('italic');"><i class="fas fa-italic"></i></button>

                                <button class="disabled-button" disabled></button>

                                <button class="editor-button" onclick="addLink()"><i class="fas fa-link"></i></button>
                                <button class="editor-button" onclick="execCmdWithArg('formatBlock', 'blockquote')"><i class="fas fa-quote-right"></i></button>
                                <button class="editor-button" style="padding-bottom: 3px"  onclick="addCode()"><span class="curly_brackets_icon">{}</span></button>
                                <button class="editor-button" onclick="execCmdWithArg('insertImage', prompt('Enter a image URL', 'http://'))"><i class="fas fa-image"></i></button>
                                <button class="editor-button"><i class="fas fa-code"></i></button>

                                <button class="disabled-button" disabled></button>

                                <button class="editor-button" onclick="execCmd('insertOrderedList');"><i class="fas fa-list-ol"></i></button>
                                <button class="editor-button" onclick="execCmd('insertUnorderedList');"><i class="fas fa-list-ul"></i></button>
                                <button class="editor-button" onclick="addHeading()"><i class="fas fa-heading"></i></button>
                                <button class="editor-button" onclick="execCmd('insertHorizontalRule')"><i class="fas fa-grip-lines"></i></button>

                                <button class="disabled-button" disabled></button>

                                <button class="editor-button" onclick="execCmd('undo')"><i class="fas fa-undo-alt"></i></button>
                                <button class="editor-button" onclick="execCmd('redo')"><i class="fas fa-redo-alt"></i></button>

                                <button class="text-button">Hide formatting tips</button>
                            </div>
                            <div class="btn-group text-editor-button-group button-descriptions" role="group">
                                <button class="description-button" id="links-button">Links</button>
                                <button class="description-button" id="images-button">Images</button>
                                <button class="description-button" id="styling-button">Styling/Headers</button>
                                <button class="description-button" id="lists-button">Lists</button>
                                <button class="description-button" id="blockquotes-button">Blockquotes</button>
                                <button class="description-button" id="codes-button">Code</button>
                                <button class="description-button" id="HTMLs-button">HTML</button>
                                <button class="description-button" id="tables-button">Tables</button>
                                <button class="description-button" style="color: royalblue">More  <i class="fas fa-external-link-alt"></i></button>
                            </div>

                            <div class="description" id="links">
                                <p class="bold">Use angle brackets to force linking</p>
                                <p class="mono">&lt;https://stackoverflow.com&gt;</p>
                                <p class="bold">Create inline text links with Markdown</p>
                                <p class="mono">[Text](https://stackoverflow.com)</p>
                                <p class="bold">Add alt attributes to links by adding a double space and text after the URL</p>
                                <p class="mono">[Text](https://stackoverflow.com  "this text appears on mouseover")</p>
                            </div>

                            <div class="description" id="images">
                                <p class="bold">Add inline images</p>
                                <p class="mono">![Text](https://stackoverflow.com/image.jpg)</p>
                            </div>
                            <div class="description" id="styling">
                                <p class="bold">Use some text styling to make your post more readable</p>
                                <p class="mono">Line breaks: double space or &lt;br /&gt; at the end of each line</p>
                                <p class="mono"><em>Italics: *asterisks* or _underscores_</em></p>
                                <p class="mono"><strong>Bold: </strong>**double asterisks** or __double underscores__</p>
                                <p class="bold">Create sections with headers</p>
                                <p class="mono close-bottom">A Large Header</p>
                                <p class="mono close-top">==============</p>
                                <p class="mono close-bottom">Smaller Subheader</p>
                                <p class="mono close-top">-----------------</p>
                                <p class="bold">Use hash marks for multiple levels of headers</p>
                                <p class="mono"># Header 1 #</p>
                                <p class="mono">## Header 2 ##</p>
                                <p class="mono">### Header 3 ###</p>
                            </div>

                            <div class="description" id="lists">
                                <p class="bold">Use angle brackets to force linking</p>
                                <p class="mono">- Create bullets with minus sign</p>
                                <p class="mono">+ or plus sign</p>
                                <p class="mono">* or an asterisk</p>
                                <p class="mono">1. or sequential numbers</p>
                                <p class="bold">Use 4 or 8 spaces to create nested lists</p>
                                <p class="mono">1. List item</p>
                                <p class="mono">    - Item A, four spaces</p>
                                <p class="mono">        * Item B, eight spaces</p>
                            </div>

                            <div class="description" id="blockquotes">
                                <p class="bold">Add > to the beginning of each line to create a blockquote</p>
                                <p class="mono">> A standard blockquote is indented</p>
                                <p class="mono">> > A nested blockquote is indented more</p>
                                <p class="mono">> > > > You can nest to any depth.</p>
                            </div>

                            <div class="description" id="codes">
                                <p class="bold">Create code fences by placing your code between sets of 3 backticks ` or use CTRL + K</p>
                                <p class="mono">```</p>
                                <p class="mono">like so</p>
                                <p class="mono">```</p>
                                <p class="bold">Create inline code spans by placing text between single backticks</p>
                                <p class="mono">`like so`</p>
                                <p class="bold">Add a preformatted block within a list with eight spaces</p>
                                <p class="mono">1. This is normal text</p>
                                <p class="mono">2. This is a list item</p>
                                <br>
                                <p class="mono">        Skip a line and indent eight spaces.</p>
                                <p class="mono">        Eight spaces will trigger the code block.</p>
                            </div>

                            <div class="description" id="HTMLs">
                                <p class="bold">Use HTML in combination with Markdown (<a href="#">What's supported? Note: We advise against mixing HTML and Markdown.</a>)</p>
                                <p class="mono">&lt;strike&gt;Markdown works * fine* in here.&lt;/strike&gt;</p>
                                <p class="bold">Block-level HTML elements have restrictions</p>
                                <p class="mono">1. Use blank lines to separate them from surrounding text</p>
                                <p class="mono">2. The opening and closing tags of the outermost block elements must not be indented</p>
                                <br>
                                <p class="mono">&lt;pre&gt;</p>
                                <p class="mono">    You &lt;em&gt;cannot&lt;/em&gt; use Markdown here</p>
                                <p class="mono">&lt;/pre&gt;</p>
                            </div>

                            <div class="description" id="tables">
                                <p class="bold">Create tables using the <a href="#">GitHub-flavored markdown format</a></p>
                                <p class="mono">| A header | Another header |</p>
                                <p class="mono">| -------- | -------------- |</p>
                                <p class="mono">| First    | row            |</p>
                                <p class="mono">| Second   | row            |</p>
                                <br>
                                <p class="mono">A header row is required and must be followed by a separator row with the same number of cells. Cells are separated by a pipe (|) symbol.</p>
                                <p class="bold">Set the alignment of a table column by placing a : on the left, right, or both sides of a separator in the separator line</p>
                                <p class="mono">| left | center | right |</p>
                                <p class="mono">|:---- |:------:| -----:|</p>
                                <p class="mono">| One  | Two    | Three |</p>
                            </div>
                            <iframe name="richTextField" class="text-area"></iframe>
                        </div>
                    </div>
                    <div class="tags-area">
                        <h6 class="ask-question-label">
                            Tags
                        </h6>
                        <p class="ask-question-description">
                            Add up to 5 tags to describe what your question is about
                        </p>
                        <iframe name="tagEditor" class="tag-editor" scrolling="no"></iframe>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.body }}
                    {{ form.tags }}
                    <style>
                        #id_title, #id_body, #id_tags {
                            display: none;
                        }
                    </style>

                    <button type="submit" class="question-ask-submit-button">Review your question</button>
                </form>
                {% block ask_question %}

                {% endblock %}
            </div>
            <div class="ask-question-hint-area">
                <div class="question-hint-area question-hint-area-active">
                    <div class="big-hint-title-area">
                        <p class="big-hint-title">
                            Step 1: Draft your question
                        </p>
                    </div>
                    <p class="hint-description">
                        The community is here to help you with specific coding, algorithm, or language problems.
                    </p>
                    <p class="hint-description">
                        Avoid asking opinion-based questions.
                    </p>

                    <div class="dropdown">
                        <button id="description-dropdown-button-one" class="description-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="description-dropdown-title">
                                <span class="description-dropdown-number">1.</span>
                                Summarize the problem
                            </p>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="description-dropdown-menu-one" class="description-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul style="padding-left: 17px; font-size: 12px;">
                                <li>
                                    <p class="description-dropdown-description">
                                        Include details about your goal
                                    </p>
                                </li>
                                <li>
                                    <p class="description-dropdown-description">
                                        Describe expected and actual results
                                    </p>
                                </li>
                                <li>
                                    <p class="description-dropdown-description">
                                        Include any error messages
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button id="description-dropdown-button-two" class="description-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="description-dropdown-title">
                                <span class="description-dropdown-number">2.</span>
                                Describe what you've tried
                            </p>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="description-dropdown-menu-two" class="description-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="description-dropdown-description">
                                Show what you’ve tried and tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. You can get better answers when you provide research.
                            </p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button id="description-dropdown-button-three" class="description-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="description-dropdown-title">
                                <span class="description-dropdown-number">3.</span>
                                Show some code
                            </p>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div id="description-dropdown-menu-three" class="description-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="description-dropdown-description">
                                When appropriate, share the minimum amount of code others need to reproduce your problem (also called a minimum, reproducible example)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="dropdown question-hint-area">
                    <button id="question-hint-area-button-one" class="question-hint-area-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="big-hint-title">
                            Have a non-programming question?
                        </p>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div id="question-description-area-one" class="question-description-area question-description-area-dropdown" aria-labelledby="dropdownMenuButton">
                        <p class="description-dropdown-description">
                            <a class="question-hint-description-link" href="#">
                                Super user
                            </a><br>
                            Troubleshooting hardware and software issues
                        </p>
                        <p class="description-dropdown-description">
                            <a class="question-hint-description-link" href="#">
                                Software Engineering
                            </a><br>
                            For software development methods and process questions
                        </p>
                        <p class="description-dropdown-description">
                            <a class="question-hint-description-link" href="#">
                                Hardware recommendations
                            </a>
                        </p>
                        <p class="description-dropdown-description">
                            <a class="question-hint-description-link" href="#">
                                Software recommendations
                            </a>
                        </p>
                        <p class="description-dropdown-description">
                            Ask questions about the site on
                            <a class="question-hint-description-link" href="#">
                                meta
                            </a>
                        </p>
                    </div>
                </div>
                <div class="dropdown question-hint-area">
                    <button id="question-hint-area-button-two" class="question-hint-area-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="big-hint-title">
                            More helpful links
                        </p>
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div id="question-description-area-two" class="question-description-area question-description-area-dropdown" aria-labelledby="dropdownMenuButton">
                        <p class="description-dropdown-description">
                            Find more information about
                            <a class="question-hint-description-link" href="#">
                                how to ask a good question here
                            </a>
                        </p>
                        <p class="description-dropdown-description">
                            Visit the
                            <a class="question-hint-description-link" href="#">
                                help center
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'questions/js/ask.js' %}"></script>
    {% block scripts %}

    {% endblock %}
{% endblock %}