{% extends 'questions/base.html' %}

{% block title %}
Questions
{% endblock %}
{% load staticfiles %}
{% load humanize %}
{% block imports %}
    <link rel="stylesheet" href="{% static 'questions/css/questions_list.css' %}">
{% endblock %}

{% block content %}

    <div class="page-container">
        <div class="questions-container">
            <div class="questions-top">
                <div class="questions-title">
                    <h3 style="font-weight: 445; margin-left: 30px; margin-top: 10px;">Top Questions</h3>
                    {% if user.is_authenticated %}
                        <a href="{% url 'ask' %}" class="questions-ask-question">Ask Question</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="questions-ask-question">Ask Question</a>
                    {% endif %}
                </div>
                <div class="sort-by-area">
                    <div class="btn-group sba-group" role="group">
                        {% if order_by == 'interesting' %}
                            <a id="order-by-interesting" href="{% url 'question_list' %}" class="sort-area-button sba-you-are-here">Interesting</a>
                        {% else %}
                            <a id="order-by-interesting" href="{% url 'question_list' %}" class="sort-area-button">Interesting</a>
                        {% endif %}
                        <a id="order-by-bountied" href="{% url 'question_list' %}" class="sort-area-button" disabled="">Bountied</a>
                        {% if order_by == 'hot' %}
                            <a id="order-by-hot" href="{% url 'question_list_hot' %}" class="sort-area-button sba-you-are-here">Hot</a>
                        {% else %}
                            <a id="order-by-hot" href="{% url 'question_list_hot' %}" class="sort-area-button">Hot</a>
                        {% endif %}
                        {% if order_by == 'week' %}
                            <a id="order-by-week" href="{% url 'question_list_week' %}" class="sort-area-button sba-you-are-here">Week</a>
                        {% else %}
                            <a id="order-by-week" href="{% url 'question_list_week' %}" class="sort-area-button">Week</a>
                        {% endif %}
                        {% if order_by == 'month' %}
                            <a id="order-by-month" href="{% url 'question_list_month' %}" class="sort-area-button sba-you-are-here" style="border: unset;">Month</a>
                        {% else %}
                            <a id="order-by-month" href="{% url 'question_list_month' %}" class="sort-area-button" style="border: unset;">Month</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="questions">
                {% for question in question_list %}
                    <div class="question" id="question--{{ question.pk }}">
                        <div class="questions-left">
                            <div class="questions-left-attrs">
                                <span class="questions-left-attr-value">{{ question.votes }}</span>
                                <span class="questions-left-attr">votes</span>
                            </div>
                            <div class="questions-left-attrs" id="question-votes--{{ question.pk }}">
                                <span class="questions-left-attr-value">{{ question.answer_set.all|length }}</span>
                                <span class="questions-left-attr">answers</span>
                            </div>
                            <div class="questions-left-attrs">
                                <span class="questions-left-attr-value">{{ question.views }}</span>
                                <span class="questions-left-attr">views</span>
                            </div>
                        </div>
                        <style>
                            {% if question.answer_set.all|length > 0 %}
                                #question-votes--{{ question.pk }} {
                                    border: solid #5eba7d 1px;
                                }
                            {% endif %}
                            {% if question.has_best_answer %}
                                #question-votes--{{ question.pk }} {
                                    color: white;
                                    background-color: #5eba7d;
                                }
                            {% endif %}

                        </style>
                        <div class="question-content">
                            <div class="question-title-div">
                                <a href="{% url 'question_detail' question.pk %}" class="question-title">
                                    {{ question.title }}
                                </a>
                            </div>
                            <div class="question-bottom">
                                {% if question.tags %}
                                    <div class="question-tags">
                                        {% for tag in question.tags.all %}
                                            <a href="{% url 'tag_detail' tag.pk %}" class="question-tag" rel="tag">{{ tag }}</a>
                                            {% if user.is_authenticated %}
                                                {% if tag in user.interested_tags.all %}
                                                    <style>
                                                        #question--{{ question.pk }} {
                                                            background-color: #fdf7e3;
                                                        }
                                                    </style>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="question-info">
                                    <a href="{% url 'question_detail' question.pk %}" class="question-date">
                                        asked {{ question.asked_date|naturaltime }}
                                    </a>
                                    <a href="{% url 'profile_detail' question.author.pk %}" class="question-author">
                                        {{ question.author }}
                                    </a>
                                    <span class="reputation-score">
                                        {{ question.author.reputation|floatformat:0 }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for tag in qustion.tags %}
                        {% if tag in user.interested_tags.all %}
                            <style>
                                #question--{{ question.pk }} {
                                    background: #fdf7e3
                                }
                            </style>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}