amqp==2.6.1
argon2-cffi==20.1.0
asgiref==3.3.4
bcrypt==3.2.0
billiard==3.5.0.5
celery==4.1.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==1.11
django-celery-beat==1.4.0
django-ckeditor==6.0.0
django-crispy-forms==1.11.0
django-js-asset==1.2.2
django-timezone-field==3.0
flower==0.9.7
gunicorn==20.1.0
humanize==3.3.0
idna==2.10
importlib-metadata==3.10.0
kombu==4.6.11
Pillow==8.1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
pycparser==2.20
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
tornado==6.1
typing-extensions==3.7.4.3
urllib3==1.26.4
vine==1.3.0
wcwidth==0.2.5
whitenoise==3.2.1
wincertstore==0.2
zipp==3.4.1
