{% extends 'questions/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    {{ tag.name }} Questions
{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'tags/css/tag_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="tag-detail-main">
        <div class="tag-detail-main-left" style="width: 100%">
            <div class="tag-detail">
                <div class="tag-title-block">
                    <h5 class="tag-title" id="{{ tag.pk }}">
                        Questions tagged [{{ tag.name }}]
                    </h5>
                    {% if user.is_authenticated %}
                        <a href="{% url 'ask' %}" class="ask-question-button">
                            Ask Question
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="ask-question-button">
                            Ask Question
                        </a>
                    {% endif %}
                </div>
                <div class="tag-info">
                    {{ tag.info }}
                </div>
                <div class="tag-detail-bottom">
                    {% if user.is_authenticated %}
                        <div class="watch-ignore-buttons">
                            {% csrf_token %}
                            <button class="watch-tag-button">
                                <i class="far fa-eye"></i>
                                Watch tag
                            </button>
                            <button class="unwatch-tag-button">
                                <i class="far fa-eye-slash"></i>
                                Unwatch tag
                            </button>
                            <button class="ignore-tag-button">
                                <i class="fas fa-ban"></i>
                                Ignore Tag
                            </button>
                            <button class="unignore-tag-button">
                                <i class="fas fa-ban"></i>
                                Unignore Tag
                            </button>
                            <style>
                                {% if tag in user.interested_tags.all %}
                                    .watch-tag-button {
                                        display: none;
                                    }
                                    .unwatch-tag-button {
                                        display: block;
                                    }
                                {% else %}
                                    .watch-tag-button {
                                        display: block;
                                    }
                                    .unwatch-tag-button {
                                        display: none;
                                    }
                                {% endif %}
                                {% if tag in user.ignored_tags.all %}
                                    .ignore-tag-button {
                                        display: none;
                                    }
                                    .unignore-tag-button {
                                        display: block;
                                    }
                                {% else %}
                                    .ignore-tag-button {
                                        display: block;
                                    }
                                    .unignore-tag-button {
                                        display: none;
                                    }
                                {% endif %}
                            </style>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if question_list %}
                <div class="tag-question-area">
                    <div class="tag-question-top-area">
                        <span class="tag-question-count">
                            {{ question_list|length }} questions
                        </span>
                        <div class="tag-question-order-area">
                            <div>
                                <div class="btn-group tag-question-order-buttons">
                                    <a id="tag-question-order-by-newest-button" href="{% url 'tag_detail' tag.pk %}" class="tag-question-order-button" style="border-bottom-left-radius: 5px; border-top-left-radius: 5px;">
                                        Newest
                                    </a>
                                    <a id="tag-question-order-by-active-button" href="{% url 'tag_detail_order_active' tag.pk %}" class="tag-question-order-button">
                                        Active
                                    </a>
                                    <a id="tag-question-order-by-bountied-button" href="{% url 'tag_detail_order_bountied' tag.pk %}" class="tag-question-order-button">
                                        Bountied
                                    </a>
                                    <a id="tag-question-order-by-unanswered-button" href="{% url 'tag_detail_order_unanswered' tag.pk %}" class="tag-question-order-button">
                                        Unanswered
                                    </a>
                                    <div class="dropdown">
                                        <button class="tag-question-order-button" style="border: none; border-radius: 5px"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            More
                                            <i class="fas fa-sort-down" style="margin-left: 5px"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a id="tag-question-order-by-frequent-button" href="{% url 'tag_detail_order_frequent' tag.pk %}" class="tag-question-order-button" style="border: none;">
                                                Frequent
                                            </a>
                                            <a id="tag-question-order-by-votes-button" href="{% url 'tag_detail_order_votes' tag.pk %}" class="tag-question-order-button" style="border: none;">
                                                Votes
                                            </a>
                                        </div>
                                    </div>
                                    <style>
                                        {% if order_by == 'newest' %}
                                            #tag-question-order-by-newest-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% elif order_by == 'active' %}
                                            #tag-question-order-by-active-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% elif order_by == 'bountied' %}
                                            #tag-question-order-by-bountied-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% elif order_by == 'unanswered' %}
                                            #tag-question-order-by-unanswered-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% elif order_by == 'frequent' %}
                                            #tag-question-order-by-frequent-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                            #dropdownMenuButton {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% elif order_by == 'votes' %}
                                            #tag-question-order-by-votes-button {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                            #dropdownMenuButton {
                                                background-color: #dfe1e3;
                                                color: black;
                                            }
                                        {% endif %}
                                    </style>
                                </div>

                                <button class="tag-question-order-filter-button dropdown-toggle">
                                    <i class="fas fa-cog"></i>
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tag-questions">
                        {% for question in question_list %}
                            <div class="tag-question">
                                <div class="tag-question-left">
                                    <div class="tag-question-left-element">
                                        <span class="tag-question-left-element-value">
                                            {{ question.votes }}
                                        </span>
                                        <span class="tag-question-left-element-key">
                                            votes
                                        </span>
                                    </div>
                                    <div class="tag-question-left-element">
                                        <span class="tag-question-left-element-value">
                                            {{ question.answer_count }}
                                        </span>
                                        <span class="tag-question-left-element-key">
                                            answers
                                        </span>
                                    </div>
                                    <div class="tag-question-left-element">
                                        <span class="tag-question-left-element-value">
                                            {{ question.views }}
                                        </span>
                                        <span class="tag-question-left-element-key">
                                            views
                                        </span>
                                    </div>
                                </div>
                                <div class="tag-question-right">
                                    <div class="tag-question-top">
                                        <a href="{% url 'question_detail' question.pk %}" class="tag-question-title">
                                            {{ question.title }}
                                        </a>
                                        <div class="tag-question-body">
                                            {{ question.body|safe }}
                                        </div>
                                    </div>
                                    <div class="tag-question-bottom">
                                        <div class="tag-question-tags">
                                            {% for question_tag in question.tags.all %}
                                                <a href="{% url 'tag_detail' question_tag %}" class="tag-question-tag">
                                                    {{ question_tag }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <div class="tag-question-author-area">
                                            <span class="tag-question-last-activity">
                                                Asked {{ question.asked_date|naturaltime }}
                                            </span>
                                            <div class="tag-question-author">
                                                <div class="tag-question-author-image">
                                                    <img style="width: 32px; height: 32px; background: #4b4b4b" src="{{ question.author.profile_image.url }}" alt="">
                                                </div>
                                                <div class="tag-question-author-info">
                                                    <a href="{% url 'profile_detail' question.author.pk %}" class="tag-question-author-profile">
                                                        {{ question.author.username }}
                                                    </a>
                                                    <span class="reputation-score">
                                                        {{ question.author.reputation|floatformat:0 }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- @TODO PAGINATION -->
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="tag-detail-main-right">
            <div class="tag-right-menu">
                <div class="tag-right-menu-head">
                    <div class="tag-right-menu-title">
                        Custom Filters
                    </div>
                </div>
                <div class="tag-right-menu-body">
                    <a href="" class="create-custom-filter-button">
                        Create a custom filter
                    </a>
                </div>
            </div>
            <div class="tag-right-menu">
                <div class="tag-right-menu-head">
                    <div class="tag-right-menu-title">
                        Watched Tags
                    </div>
                </div>
                <div class="tag-right-menu-body" id="watched-tags">
                    {% if user.is_authenticated %}
                        {% for tag in user.interested_tags.all %}
                            <a href="{% url 'tag_detail' tag.pk %}" class="tag-question-tag watched-tags">
                                {{ tag.pk }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tag-right-menu">
                <div class="tag-right-menu-head">
                    <div class="tag-right-menu-title">
                        Ignored Tags
                    </div>
                </div>
                <div class="tag-right-menu-body" id="ignored-tags">
                {% if user.is_authenticated %}
                    {% for tag in user.ignored_tags.all %}
                        <a href="{% url 'tag_detail' tag.pk %}" class="tag-question-tag ignored-tags">
                            {{ tag.pk }}
                        </a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'tags/js/tag_detail.js' %}"></script>
{% endblock %}