{% extends 'questions/base.html' %}
{% load staticfiles %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'tags/css/tags_list.css' %}">
{% endblock %}

{% block title %}
    Tags
{% endblock %}

{% block content %}
    <div class="tags-list">
        <h5 class="create-tag-title">
            Tags
        </h5>
        <p class="tags-list-description">
            A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
        </p>
        <div class="tags-list-order-area">
            <div class="tags-list-search-area" onclick="$('.tags-list-search-input')[0].focus();">
                <i class="fas fa-search tags-list-search-icon"></i>
                {% csrf_token %}
                <input type="search" class="form-control tags-list-search-input" placeholder="Filter by tag name">
            </div>
            <div class="btn-group tags-list-order-group">
                <a id="order-by-votes" class="tags-list-order-button" href="{% url 'tags_list' %}">
                    Popular
                </a>
                <a id="order-by-name" class="tags-list-order-button" href="{% url 'tag_list_ordered_by_name' %}">
                    Name
                </a>
                <a id="order-by-date" class="tags-list-order-button" href="{% url 'tag_list_ordered_by_date' %}">
                    New
                </a>
                <style>
                    {% if order_by == 'vote' %}
                        #order-by-votes {
                            background-color: #e0e2e4;
                            color: black;
                        }
                    {% elif order_by == 'name' %}
                        #order-by-name {
                            background-color: #e0e2e4;
                            color: black;
                        }
                    {% elif order_by == 'date' %}
                        #order-by-date {
                            background-color: #e0e2e4;
                            color: black;
                        }
                    {% endif %}

                    #order-by-date {
                            border: unset;
                        }
                </style>
            </div>
        </div>
        <div class="tag-browser" id="tag-browser-search"></div>
        <div class="tag-browser" id="tag-browser">
            {% for tag in tag_list %}
                <div class="tag">
                    <div class="tag-name-area">
                        <a href="{% url 'tag_detail' tag.pk %}" class="tag-name">
                            {{ tag.name }}
                        </a>
                    </div>
                    <div class="tag-info-area">
                        <span class="tag-info">
                            {{ tag.info }}
                        </span>
                    </div>
                    <div class="tag-statistics-area">
                        <span class="tag-statistics">
                            {{ tag.count }} Questions
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="page" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                    <span class="current-page">{{ page }}</span>
                {% else %}
                    <a class="page" href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="page" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
    </div>
    <script src="{% static 'tags/js/tags_list.js' %}"></script>
{% endblock %}